body {
  background-color: #222;
  background-image: url('black-1072366_1920.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-position: center 30%;
}
.index {
  background-color: #222;
}

h2 {
  color: #0f0;
  text-align: center;
  font-size: 28px;

}
a{
  text-decoration: none;
  color: #0f0;
}
button {
  background-color: #4CAF50;
  color: blue; 
  padding: 10px 40px;
  margin: 20px 0px 25px 50px;
  border: none;  
  border-radius: 20px; 
  cursor: pointer;
  box-shadow: 7px 7px 10px 5px #66f;
}
button:hover {
  box-shadow: 7px 7px 10px 5px #6f6;
  transform: scale(1.08);
}
.cont_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: #222;
  margin: 20px;
  box-shadow: 7px 7px 10px 2px #0f0;
  transition: box-shadow 1s ease, transform 0.1s ease-in-out;
}
.cont_img:hover {
  box-shadow: 7px 7px 10px 3px #66f;
  background-color: #333;
  transform: scale(1.15);
}
embed {
        width: 90%;
        height: 1600px;
        margin: 0 auto;
        display: block;
        overflow: hidden;
      }
/* Crear un contenedor para las fotos */
.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

/* Estilo para cada imagen */
.photo-container img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

/* Aumentar el tamaño de la imagen cuando el cursor está sobre ella */

footer {
  color: #0f0;
  margin: 80px 0px 0px 10px;
  text-align: center;
}
